<footer class="footer__container">
    <section class="pages__container">
      <a href="#">이용약관</a>
      <a href="#">개인정보처리방침</a>
      <a href="#">커뮤니티이용규칙</a>
      <a href="#">문의하기</a>
    </section>
  </footer>
  