
<body style="background-color: #E1EFD7;">
    <div style="width: 710px; margin: auto;">
        <h2 style="margin-bottom: 110px; margin-top: 30px;"> 마이페이지 </h2>

        <div style="width: 700px; background-color: white; margin: auto; padding: 50px;">
            <div style="display: flex; align-items: center; margin-bottom: 50px;">
                <img src="data:image/jpeg;base64,<%= encodedImageBase64String %>" 
                style="width: 150px; height: 150px; border-radius: 50%; margin-top: -130px;">
                <h3 style="margin-left: 30px; margin-top: -140px;"> 이수정님 </h3>
            </div>

            <h3 style="margin-top: 30px;"> 기본 정보 </h3>
            <table style="padding-left: 30px;">
                <tr>
                    <td><h4> 이름 </h4></td>
                    <td> 이수정 </td>
                </tr>
                <tr>
                    <td><h4> 나이 </h4></td>
                    <td> 25세 </td>
                </tr>
                <tr>
                    <td><h4> 이메일 </h4></td>
                    <td style="padding-left: 15px;"> sungshin@gamil.com </td>
                </tr>
                <tr>
                    <td><h4> 탈퇴 </h4></td>
                    <td><a href="#"
                        style="display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100px; height: 30px; border-radius: 10px; color: black; background-color: #E1EFD7; font-size: 14px; font-weight: bold; text-align: center; text-decoration: none;">
                        <span> 탈퇴하기 </span>
                      </a>
                    </td>
                </tr>
            </table>
            <br><hr>

            <h3 style="padding-top: 20px;"> 나의 매칭 정보 </h3>
            <div style="padding-left: 30px;">
                <div>
                    <a href="#" 
                    style="display: flex; flex-direction: column; align-items: center; justify-content: center; width: 150px; height: 35px; border-radius: 10px; color: black; background-color: #E1EFD7; font-size: 14px; font-weight: bold; text-align: center; text-decoration: none;">
                    <span> 나의 매칭 프로필 </span>
                    </a>                
                </div>
                <div style="height: 20px;"></div>

                <div>
                    <a href="#"
                    style="display: flex; flex-direction: column; align-items: center; justify-content: center; width: 150px; height: 35px; border-radius: 10px; color: black; background-color: #E1EFD7; font-size: 14px; font-weight: bold; text-align: center; text-decoration: none;">
                    <span> 나의 보고서 목록 </span>
                    </a>                
                </div>
            </div>

        </div>
    </div>
</body>
