/* Container for the post creation form */
.bigContainer {
    display: flex;
}

#container {
  width: 900px; 
  margin: auto;
}

#postFormContainer {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px 0px;
  }
  
  /* Labels for form fields */
  .form-label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
  }
  
  /* Text input and select elements */
  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
    background-color: rgba(247, 247, 247, 1);
  }
  
  /* Textarea specific styles */
  textarea {
    resize: none;
    height: 240px;
  }
  
  /* Submit button */
  #submitButton {
    background-color: #2D6210;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }

  .submit {
    display: flex; 
    justify-content: flex-end;
  }
  
  #submitButton:hover {
    background-color: #225107;
  }

  /* 목록으로 돌아가기 버튼 */
  .floating-button {
    position: fixed;
    left: 35px;
    top: 115px;
    z-index: 1000;
    /* 버튼이 다른 콘텐츠 위에 표시되도록 설정 */
}

.floating-button button {
    background-color: green;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.floating-button button:hover {
    background-color: #3c974e;
}